body{
	font-family: arial;
	margin-right: 0;
	margin-left: 0;
}
.link{
	text-decoration: none;
}
#contenedor{
	background-image: url('img/imagen1.png');
}
#titulo{
	float:left;
	width:70%;
	font-size:20px;
}
#iniciar{
	width:30%;
	margin-right:70%;
}
footer{
	text-align: center;
}