body{
	font-family: arial;
	margin-right: 0;
	margin-left: 0;
	
}
#logo{
	background-color: #14C984;
}
.link{
	text-decoration: none;
}
#contenedor{
	border: 2px solid red;
	background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1000px;
}
#titulo{
	float:left;
	width:70%;
	font-size:20px;
}
#iniciar{
	width:30%;
	margin-right:70%;
}
footer {
	background-color: #14C984;
	height: 500px;
	margin: 0;
}

#copyright {
	color: white;
	font-size: 20px;
	position: absolute;
    top: 1400px;
	left: 45%;
}

#servicios {
	float: right;
	color: white;
	font-size: 40px;
	text-align: right;
	width: 30%;
	padding-top: 50px;
	padding-right: 50px;
}