@media screen and (max-width: 480px) {
    body {
		background-color: #666;
	}
	header {
        background-color: #424242;
		border-bottom: 30px solid #2E2E2E;
    }
	#contenedor {
		background-image: none;
	}
	#descripcion{
	background-color: none;
	color:white;
	padding: 25px;
	margin-left: 0;
	font-size:22px;
	float: none;
	}
	#left_B{
		margin-right: 0;
		text-align: justify;
	}
	#left_B h2{
		font-size:45px;
		color: #14C984;
		border-top: 5px solid #14C984;
		border-bottom: 5px solid #14C984;
		padding: 5px;
	}
	#img_B{
		float: none;
		margin: 0 auto;
	}
	#right_I{
		margin-left: 0;
		text-align: justify;
	}
	#right_I h2{
		font-size: 45px;
		color: #14C984;
		border-top: 5px solid #14C984;
		border-bottom: 5px solid #14C984;
		padding: 5px;
	}
	#img_I {
		float: none;
		width: 40%;
		margin-left: 0;
	}
	footer {
		min-height: 500px;
	}
	.link {
		width: 100%;
		display: block;
	}
	#iniciar {
	float: none;
	padding: 10px;
	text-align: left;
	width: 100%;
	padding-top: 70px;
	}
	#titulo{
	margin-right:0;
	}

}